<div class="container-fluid" style="padding-top: 100px;">
    <div class="row">
        <ng-container *ngFor="let product of productData">
            <div class="card col-md-2 col-lg-3" *ngIf="product.category === 'necklace'">
                <button style="border: none;"> <img src="{{ product.image }}" alt="" /> </button>
                <small
                  ><strong>{{ product.title }}</strong></small
                >
                <div class="favorite-icon">
                  <small
                    ><strong>{{ product.price | currency: "INR" }}</strong></small
                  >
                  <button>
                    <i class="far fa-heart" style="font-size: 20px"></i>
                  </button>
                  <button>
                    <i class='fas fa-shopping-cart' style='font-size:20px'></i>
                  </button>
                </div>
              </div>
    </ng-container>
    </div>
</div>